node_modules
.DS_Store

# Editor stuff
.vscode

# Generated bundles
public/*.js
public/*[.png, .svg, .jpg, .gif]

# Secrets
config.js

# SQLite databases
*.db

# Prevent results json from being committed, remove this when merged to master
data/results2019.json