@import 'utilities.scss';
@import 'results-bulma.scss';

// Adding below import causes background to turn white
// @import "../../node_modules/bulma/sass/base/_all";
// @import "../../node_modules/bulma/sass/elements/_all";
// @import "../../node_modules/bulma/sass/form/_all";
// @import "../../node_modules/bulma/sass/components/_all";
// @import "../../node_modules/bulma/sass/grid/_all";
// @import "../../node_modules/bulma/sass/layout/_all";
@import "../../node_modules/bulma/sass/helpers/_all";

@import 'animate.scss';
@import 'application.scss';
// Adding below import causes background to turn white
// @import 'host-and-vote.scss';
@import 'results.scss';
@import 'voting.scss';
