.awardsModalBody strong{
    color: initial;
}

.application-container {    
    strong {
        color: initial;
    }

    .tui-editor-contents ol > li::before {
        color: initial;
    }

    .tui-editor-contents ul > li::before {
        background-color: initial;
    }

    .message {
        .message-body{
            color: $dark;
            background-color: white;
        }
    }

    .qg-header{
        font-size: 2.25rem;
    }
    .question-header{
        // text-transform: capitalize;
        font-size: 1.75rem;
    }
    .subquestion-header{
        // text-transform: capitalize;
        font-size: 1.5rem;
    }
    .question-save{
        padding: 0.5rem 2rem;
        opacity: 0;
        transition: opacity 2000ms;
        &.question-saving{
            opacity: 1;
            transition: opacity 500ms;
        }
    }
    .qpref_choice{
        display: inline-block;
    }
    .app-radio{
        font-size: 1.25rem;
        margin: 0.5rem 1rem;

        input[type="radio"]{
            display: none;

            &:checked ~ label:after{
                height: 14px;
                width: 14px;
                top: 7px;
                left: 5px;
            }

            &:checked ~ label:before{
                border: $periwinkle 2px solid;
            }
        }

        label {
            padding-left: 2rem;
            position: relative;

            &:before{
                content: "";
                position: absolute;
                display: block;
                border-radius: 100%;

                height: 24px;
                width: 24px;
                top: 2px;
                left: 0;
                border: #ddd 2px solid;
                transition: all 150ms;
            }

            &:hover:before{
                background-color: #eee;
            }

            &:after{
                content: "";
                position: absolute;
                display: block;
                border-radius: 100%;

                height: 0;
                width: 0;
                top: 14px;
                left: 12px;
                background-color: $periwinkle;

                transition: all 150ms ease;
            }
            
        }
    }
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
  
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;

    white-space: nowrap;
    max-width: 480px;
    background-color: rgba($dark, .8 );
    color: #fff;
    text-align: center;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
  
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    top: 0.25rem;
    left: calc(100% + 0.5rem);
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 1rem;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba($dark, .8 ) transparent transparent;
  }
