html, body{
    font-family: 'Open Sans';
}

.sectionIcon, .categorySubHeadItemIcon{
    width: 6rem;
    flex-shrink: 0;
    flex-basis: 6rem;
    display: inline-block;
}

.awardSectionHeader, .categoryHeader{
    text-shadow: 0 4px 6px #000000;
}

.awardsModal{
    height: 35rem;
    padding: 1.5rem;
    overflow-y: auto;

    strong {
        color: $light;
    }
}

.awardsModal::-webkit-scrollbar {
    width: 8px;
}

.awardsModal::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

.awardsModal::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}

.awardsStaffCredit p{
    margin-bottom: 0.05rem !important;
}

.awardRanksContainer img.image {
    width: 32px;
    height: 24px;
}

.awardsImage{
    height: 35rem;

    @include until($tablet){
        height: 10rem;
    }
}

.categoryWinnerContainer {
    position: relative;
    width: 100%;

    &:after{
        content: '';

        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        pointer-events: none;
        outline: 0.5rem solid $llperiwinkle;
        outline-offset: -1.5rem;
        z-index: 1;
    }
}

.categoryWinnerItem {
    height: 32rem;
    overflow: hidden;
    @include until($tablet){
        height: 15rem;
    }
}

.categoryItemImage {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
}

.categoryNominationCards {
    margin: 10px 10px;
    padding: 2px;
    text-align: center;
}

.categoryNominationItem {
    margin: 2px;
    height: 132px;
    overflow: hidden;
}

.categoryNominationPreview{
    position: relative;
    font-size: 11px;
    width: 100%;
    height: 5rem;
    overflow: hidden;
    padding: 0.5rem;
    cursor: pointer;

    strong {
        color: $llperiwinkle;
    }

    @include until($tablet){
        display: none;
        height: 0;
    }

    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-image: linear-gradient(transparent, $black-bis);
    }
}

.categoryItemImage {
    content: "";
    cursor: pointer;

    width: 100%;
    height: 100%;
    position: relative;

    background: transparent no-repeat center/cover;
    margin: 0;
    padding: 0;

    transform-origin: center;
    transition: all 150ms;

    /* z-index: -3000;*/
}

.categoryNominationItem:hover .categoryItemImage,
.categoryNominationItem:focus .categoryItemImage,
.categoryWinnerItem:hover .categoryItemImage,
.categoryWinnerItem:focus .categoryItemImage {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.categorySubHeadItemTextTitle {
    display: inline-block;
    margin-bottom: 0;
}

.categorySubHeadContainer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.has-periwinkle-underline{
    border-bottom: 1px solid $llperiwinkle;
}

.has-flaired-underline{
    border-width: 0 0 2px;
    border-style: solid;
    border-image:
        radial-gradient(
            circle at center,
            $gold 0,
            $gold 50%,
            rgba(255,255,255, 0) 100%
        ) 100% 1 1 1;
}

.has-flaired-underline-thin{
    border-width: 0 0 1px;
    border-style: solid;
    border-image:
        radial-gradient(
            circle at center,
            $white 0,
            $white 50%,
            rgba(255,255,255, 0) 100%
        ) 100% 1 1 1;
}

.has-flaired-overunder {
    border-width: 2px 0 2px;
    border-style: solid;
    border-image:
        radial-gradient(
            circle at center,
            $gold 0,
            $gold 50%,
            rgba(255,255,255, 0) 100%
        ) 100% 1 1 1;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// bulma override
.tabs {
    ul {
        li {
            padding-bottom: 1rem;
            border-bottom: 2px solid $black;
            transition: color 0.15s, border 0.15s;
            cursor: pointer;

            &:hover {
                color: $grey;
                border-bottom: 2px solid $grey;
            }

            &.is-active{
                color: $light;

                &.is-gold{
                    border-bottom: 2px solid $gold;
                }
                &.is-periwinkle{
                    border-bottom: 2px solid $periwinkle;
                }
            }
        }
    }
}

$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
  
    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}