// More customization below

body {
    --sfourthTest:"";
    font-family: $family-sans-serif;
		color: $dark;
}

// Navbar menus on mobile shouldn't interfere with page content
@include touch {
	.navbar-menu {
		position: absolute;
		left: 0;
		right: 0;
	}
}

// Don't need to default to overflow-y: scroll
html {
	overflow-y: auto;
}

// Some other utility classes

// When you have a title inside a level, the title's margin is lost. Apply this
// class to the level to get it back.
.title-margin {
	margin-bottom: 1.5rem;
}

html, body{
    font-family: 'Open Sans';
    overflow-x: hidden;
}

.navbar-burger{
    height: auto;
}

@include touch{
    .navbar-menu {
        display: block;
        position: fixed;
        top: 53px;
        right: -300px;
        left: unset !important;
        height: calc(100vh - 65px);
        width: 300px;

        transition: transform 0.3s ease-in-out;

        &.is-active {
            transform: translateX(-300px);
        }
    }
}

.ranking-container{
    padding: 2rem;
}

.categorySubHeadItem.level-item{
    flex-basis: 50%;
}

.sectionIcon, .categorySubHeadItemIcon{
    width: 6rem;
    flex-shrink: 0;
    flex-basis: 6rem;
    margin-right: -32px;
    opacity: 30%;

    z-index: -1;
    display: inline-block;
}

.sectionIconContainer {
    position: relative;
    margin-right: -64px;
    opacity: 50%;
    z-index: -10;
}

.awardSectionHeader, .categoryHeader{
    text-shadow: 0 4px 6px #000000;
}

.awardSectionHeader{
    position: relative;
    
    &:after{
        content: "";
        position: absolute;
        bottom: 12px;
        left: calc(50% - 40px);
        width: 80px;
        height: 10px;
        background-color: $light;
        box-shadow: 0 4px 6px #000000;
        z-index: -1;
    }

}

.categoryHeader {
    position: relative;

    &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 10px;
        background-color: $gold;
        top: 36px;
        left: 32px;
        z-index: -5;
    }
}

.awardsModal{
    height: 35rem;
    padding: 1.5rem;
    overflow-y: auto;

    strong {
        color: $light;
    }

    blockquote {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.awardsModal::-webkit-scrollbar {
    width: 8px;
}

.awardsModal::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

.awardsModal::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}

.awardsStaffCredit p{
    margin-bottom: 0.05rem !important;
}

.awardRanksContainer img.image {
    width: 32px;
    height: 24px;
}

.awardsImage{
    height: 35rem;

    @include until($tablet){
        height: 10rem;
    }
}

.categoryRank {
    position: relative;
    pointer-events: none;
    top: -60px;
    margin-bottom: -40px;

    width: 100%;
    height: 40px;
    font-size: 26px;
    font-weight: bold;
    background-image: url(../../img/laurels.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    z-index: 3;


    &:before {
        content: '';
        position: absolute;
        left: 2px;
        top: 50%;
        height: 3px;
        width: calc(50% - 42px);
        background: $gold;
        // background-image: linear-gradient(to left, transparent, $platinum);
    }
    &:after {
        content: '';
        position: absolute;
        right: 2px;
        top: 50%;
        height: 3px;
        width: calc(50% - 42px);
        background: $gold;
    }
}

.homeIntroThingy {
    .level-item {
        transition: opacity 150ms;
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }
    }
}

.categoryWinnerContainer {
    position: relative;
    width: 100%;

    &:after{
        content: '';

        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        pointer-events: none;
        outline: 0.5rem solid $llperiwinkle;
        outline-offset: -1.5rem;
        z-index: 1;
    }
}

.categoryWinnerItem {
    height: 36rem;
    overflow: hidden;

    @include until($tablet){
        height: 20rem;
    }
}

.categoryNominationCards {
    margin: 10px 10px;
    padding: 2px;
    text-align: center;
}

.categoryNominationItem {
    position: relative;
    margin: 2px;
    height: 300px;
    overflow: hidden;

    @include until($tablet){
        height: 240px;
    }

    .nomineeTitle {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 8px;
        width: 100%;
        height: 240px;
        z-index: 4;
        opacity: 100%;
        transition: opacity 300ms;

        @include until($tablet){
            height: 200px;
        }
    }

    &:hover .nomineeTitle{
        opacity: 0;
    }
}

.categoryNominationPreview{
    position: relative;
    font-size: 11px;
    width: 100%;
    height: 5rem;
    overflow: hidden;
    padding: 0.5rem;
    cursor: pointer;

    strong {
        color: $llperiwinkle;
    }

    @include until($tablet){
        display: none;
        height: 0;
    }

    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-image: linear-gradient(transparent, $black-bis);
    }
}

.categoryItemImage {
    content: "";
    cursor: pointer;

    width: 100%;
    height: 100%;
    position: relative;

    background: transparent no-repeat center/cover;
    margin: 0;
    padding: 0;

    transform-origin: center;
    transition: all 150ms;

    .categoryNominationItem &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background:rgba(0, 0, 0, 0.7);

        transition: all 500ms;
    }

    .categoryNominationItem &:hover:after{
        /*content: '';
        position: absolute;
        bottom: 16px;
        left: calc(50% - 40px);
        width: 80px;
        height: 80px;
        border-radius: 40px;
        */

        background:rgba(0, 0, 0, 0.3);
    }
}

.categoryNominationItem:hover .categoryItemImage,
.categoryNominationItem:focus .categoryItemImage {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.categoryWinnerItem:hover .categoryItemImage,
.categoryWinnerItem:focus .categoryItemImage {
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.categorySubHeadItemTextTitle {
    display: inline-block;
    margin-bottom: 0;
}

.categorySubHeadContainer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.has-periwinkle-underline{
    border-bottom: 1px solid $llperiwinkle;
}

.has-flaired-underline{
    border-width: 0 0 2px;
    border-style: solid;
    border-image:
        radial-gradient(
            circle at center,
            $gold 0,
            $gold 50%,
            rgba(255,255,255, 0) 100%
        ) 100% 1 1 1;
}

.has-flaired-underline-thin{
    border-width: 0 0 1px;
    border-style: solid;
    border-image:
        radial-gradient(
            circle at center,
            $white 0,
            $white 50%,
            rgba(255,255,255, 0) 100%
        ) 100% 1 1 1;
}

.has-flaired-overunder {
    border-width: 2px 0 2px;
    border-style: solid;
    border-image:
        radial-gradient(
            circle at center,
            $gold 0,
            $gold 50%,
            rgba(255,255,255, 0) 100%
        ) 100% 1 1 1;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    position: relative;
    z-index: 10;

    a {
        text-decoration: underline;
    }
}

// bulma override
.tabs {
    ul {
        li {
            padding-bottom: 1rem;
            border-bottom: 2px solid $black;
            transition: color 0.15s, border 0.15s;
            cursor: pointer;

            &:hover {
                color: $grey;
                border-bottom: 2px solid $grey;
            }

            &.is-active{
                color: $light;

                &.is-gold{
                    border-bottom: 2px solid $gold;
                }
                &.is-periwinkle{
                    border-bottom: 2px solid $periwinkle;
                }
            }
        }
    }
}

.button {
    transition: background 0.15s;
}

.is-platinum .panel-block{
    border-left: 0px solid $platinum;
    transition: border-width 0.15s;
}

.is-platinum .panel-block.is-active {
	border-left: 5px solid $platinum;
}

.is-platinum .panel-block:hover{
    //border-left: 5px solid $platinum;
}

.loader {
    &.is-loading {
        position: relative;
        pointer-events: none;
        opacity: 0.5;
        &:after {
            // @include loader;
            position: absolute;
            top: calc(50% - 2.5em);
            left: calc(50% - 2.5em);
            width: 5em;
            height: 5em;
            border-width: 0.25em;
        }
    }
}

.awardHonorableMention {
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.3);
    color: $white;
    border-radius: 8px;
    height: 100%;
}

//responsive tables
@include until($tablet) {
    .table-responsive {
        thead{
            display: none;
        }

        tr {
            display:flex;
            flex-wrap: wrap;


            td {
                flex: 100% 0 0;
                border-width: 0 !important;

                &:first-child{
                    font-size: 1.5rem;
                    padding-top: 1rem;
                }
            }
        }
    }
}

.categoryRankCard {
    flex: 1;
    width: 100%;
    transform-origin: center center;
    transition: all 1s;
}
.nominees-enter, .nominees-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
    opacity: 0;
    width: 0;
    flex: 0;
    flex-basis: 0;
    overflow: hidden;
    transform: scaleX(0);
}
.nominees-enter-active {
    transition-delay: 0.5s;
}
.nominees-leave-active {
    // position: absolute;
}

/* The switch - the box around the slider */
.juryToggle {
.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
  
      .switch-inner-container{
          position: absolute;
          display: flex;
  
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
  
      .switch-inner {
          flex: 1 1 auto;
          display: inline-flex;
          align-items: center;
          justify-content: center;
  
          transition: color .3s ease;
      }
    }
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $gold;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $llperiwinkle; // #E7A924;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #E7A924;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 13px;
  }

}