@use "main" as *;

// Smaller vertical section padding
$section-padding: 1.5rem;
$modal-content-width: 800px;

// Customize global theme colors
$primary: $periwinkle;
$primary-invert: $periwinkle-invert;
$danger: $orangered;

// Customize individual component colors
$table-color: $silver;
$text-strong: $silver;
$table-background-color: $dark;
