// This file is loaded by webpack as a prelude to all other sass snippets. It
// should not contain any actual styles, because any styles here will be
// included with every other sass snippet in the app. Needless to day, that is
// not how we want that to work.

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import "~bulma/sass/utilities/all";

// Customize fonts
$family-sans-serif: "Open Sans", "Helvetica", "Arial", sans-serif;
$family-monospace: "Source Code Pro", "Menlo", "Consolas", monospace;

// Add more colors
$llperiwinkle: #7EAEFF;
$llperiwinkle-invert: findColorInvert($llperiwinkle);
$lperiwinkle: #6B9CE8;
$lperiwinkle-invert: findColorInvert($lperiwinkle);
$periwinkle: #5796FF;
$periwinkle-invert: findColorInvert($periwinkle);
$dperiwinkle: rgb(45, 56, 83);
$dperiwinkle-invert: findColorInvert($dperiwinkle);
$orangered: #EA6850;
$orangered-invert: findColorInvert($orangered);

$gold: #E7A924;
$gold-invert: findColorInvert($gold);
$silver: #D9E3ED;
$silver-invert: findColorInvert($silver);
$platinum: #00D1B2;
$platinum-invert: findColorInvert($platinum);

$dark: #1B1E25;

$addColors: (
    "llperiwinkle": ($llperiwinkle, $llperiwinkle-invert),
    "lperiwinkle": ($lperiwinkle, $lperiwinkle-invert),
    "periwinkle": ($periwinkle, $periwinkle-invert),
    "dperiwinkle": ($dperiwinkle, $dperiwinkle-invert),
    "orangered": ($orangered, $orangered-invert),
    "gold": ($gold, $gold-invert),
    "silver": ($silver, $silver-invert),
    "platinum": ($platinum, $platinum-invert),
);
$colors: map-merge($colors, $addColors);
