.voting-page-content{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: hidden;

    .voting-page-content-container{
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow-y: hidden;

        progress {
            width: 80%;
            margin: 0 auto;
        }

        .title{
            margin-top: 1rem;
        }

        .subtitle{
            margin-top: 0 !important;
            font-weight: 100;
            opacity: 0.9;
        }
        
        .container{
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            overflow: hidden;
            height: auto;
            width: 100%;

            .is-full-height{
                height: 100%;
                
                .columns, .column{
                    height: 100%;
                }
            }

            .show-picker-overflow-wrap {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                height: 100%;

                .show-picker-entries {
                    overflow-y: auto;
                }
            }
        }
    }
}
.show-picker{
    height: 100%;
}

.tabs.show-picker-tabs {
	margin-bottom: 0 !important;
}

.show-picker-entries::-webkit-scrollbar {
    width: 8px;
}

.show-picker-entries::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

.show-picker-entries::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}

.show-picker-search-bar {
	margin: 0 auto;
	max-width: 500px;
	padding: 0.75rem 0.75rem 0;
}
.show-picker-entries {
	display: flex;
	flex-wrap: wrap;
	padding: 0.375rem;
}
.show-picker-entry {
	flex: 0 0 calc(100% / 4);
	padding: 0.375rem;

	> div {
		height: 100%;
	}
}
.show-picker-text {
	flex: 0 1 100%;
	padding: 0.75rem;
	text-align: center;
}

@media (max-width: 1215.999px) {
	.show-picker-entry {
		flex: 1 1 calc(100%/3);
	}
}

@media (max-width: 767px) {
	.show-picker-entry {
		flex: 1 1 100%;
	}
}