.voting-page-content{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: hidden;

    .voting-page-content-container{
        padding-top: 72px;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        height: 100vh;
        overflow-y: hidden;

        progress {
            width: 80%;
            margin: 0 auto;
        }

        .title{
            margin-top: 1rem;
        }

        .subtitle{
            margin-top: 0 !important;
            font-weight: 100;
            opacity: 0.9;
        }
        
        .container{
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            overflow: hidden;
            height: auto;
            width: 100%;

            .is-full-height{
                height: 100%;
                
                .columns, .column{
                    height: 100%;
                }
            }

            .show-picker-overflow-wrap {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                height: 100%;

                .show-picker-entries {
                    overflow-y: auto;
                    overflow-x: hidden;
                }
            }
        }
    }
}
.show-picker{
    height: 100%;
}

.tabs.show-picker-tabs {
	margin-bottom: 0 !important;
}

.show-picker-entries::-webkit-scrollbar {
    width: 8px !important;
}

.show-picker-entries::-webkit-scrollbar-thumb {
    background: #6B9CE8;
    border-radius: 20px;
}

.show-picker-entries::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}

.show-picker-search-bar {
	margin: 0 auto;
	max-width: 500px;
    padding-top: 0.75rem;
	padding-bottom: 0.75rem;

    .is-small.input {
        border-radius: 30px;
        padding: 0.75rem 1rem;     
        font-size: 1rem;
    }

    .control.has-icons-left .input{
        padding-left: 4rem;
    }

    .control.has-icons-left .icon.is-left{
        left: 12px;
        top: 6px;
    }
}

@media (max-width: 1215.999px) {
    .show-picker-search-bar {
        padding-top: 0rem;
        padding-bottom: 0.5rem;
    }

    .voting-page-content{
    
        .voting-page-content-container{
            padding-top: 64px;
        }
    }
}

@media (max-width: 767px) {
	.voting-page-content{
        .voting-page-content-container{
            padding-top: 56px;
        }
    }

}

.show-cover {
    max-width: 100px;
    max-height: 100px;
    // margin-right: 0.4rem;
    border-radius: 3px;
    overflow: hidden;

    img {
        width: 100px;
        height: 100px;

        object-fit: cover;
    }
}
@media (min-width: 1216px ) {
    .show-cover {
        max-height: 100%;
    
        img {
            height: auto;
        }
    }
}

.show-picker-entries {
	display: flex;
	flex-wrap: wrap;
}
.show-picker-entry {
	flex: 0 0 calc(100% / 4);
	padding: 0.75rem;

	> div {
		height: 100%;
	}
}
.show-picker-text {
	flex: 0 1 100%;
	padding: 0.75rem;
	text-align: center;
}

.show-picker-entry .box {
    display: flex;
    flex-direction: column;
    background-color: #2D3853;
    color: #FFFFFF;
    cursor: pointer;

    transition: background-color 0.3s, opacity 0.3s;

    strong {
        color: #FFFFFF;
    }

    .show-title{
        max-height: 3rem;
        overflow: hidden;
    }

    &:hover {
        background-color: #405d8b;
    }

    &.highlighted {
        background-color: #00d2b4;
    }

    .float-bottom{
        padding-top: 10px;
        margin-top: auto;

        a {
            margin: 0 5px;
        }
    }

    .show-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .button {
            width: 125px;
        }
    }

    .media{
        flex: 0 0 auto;
        .media-left{
            margin-right: 0;
        }
    }
}

@media (max-width: 1215.999px) {
	.show-picker-entry {
		flex: 1 1 calc(100%/3);

        .box {
            flex-direction: row;
        }
	}
}

@media (max-width: 1023.999px) {
	.show-picker-entry {
		flex: 1 1 calc(100%/2);

        .box {
            flex-direction: row;
        }
	}
}

@media (max-width: 767.999px) {
	.show-picker-entry {
		flex: 1 1 100%;
	}
}

.item-picker-entry-cb{
    display: none;
}

.hero {
    height: 100vh;
}

progress {
    &::-webkit-progress-value {
        transition: width .3s ease;
    }

    &::-webkit-progress-bar {
        background-color: #4F4F4F !important;
    }
    pointer-events: none !important;
}